@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: rgb(31,31,31);
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 2360px;
  width: 75.2%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper{
  padding: 1.97% 0 1.7%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

header h1 a {
  color: rgb(254,254,254);
  font-size: 32.9px;
  font-weight: 900;
  text-transform: uppercase;
}

.hamburger {
  display: none;
}

nav {
  display: block;
}

header ul {
  position: relative;
  top: -7px;
}

header ul li a {
  padding: 0 0 10px;
  border-bottom: transparent 4px solid;
  margin: 0 0 0 35px;
  color: rgba(255, 255, 255, .7);
  font-size: 11.5px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

header ul li a:hover {
  border-bottom: rgb(143,208,166) 4px solid;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* hi */
.block {
  display: block;
}

.capital {
  text-transform: capitalize;
}

.lower {
  text-transform: lowercase;
}

.modal {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.9);
}

.modal_content {
  width: 50%;
  height: 50%;
  position: relative;
  left: 25%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: rgb(241, 241, 241);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  cursor: pointer;
  text-decoration: none;
}

.modal {  
  animation-name: zoom;
  animation-duration: 0.6s;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.images .wrapper {
  border-top: rgb(44,44,44) solid .2px;
  border-bottom: rgb(44,44,44) solid .2px;
}

figcaption {
  display: none;
}

.filter_menu{
  margin: 2% 0 2.1%;
}

.filter_menu a {
  color: inherit;
  font-size: 11px;
  letter-spacing: .5px;
  text-transform: capitalize;
}

.filter_menu li{
  padding: 5.5px 9px;
  margin: 0 0 0 1.2px;
  display: inline-flex;
  color: rgba(255, 255, 255, .7);
  cursor: pointer;
}

.filter_menu li:hover,
.filter_menu li.current{
  background: rgb(143,208,166);
  border: rgb(66, 86, 73) solid 1px;
}

.filter_item {
  padding: 0 0 3.5%;
  display: flex;
  flex-wrap: wrap;
}


.filter_item li{
  width: 25%;
  height: 180px;
}

figure {
  height: 100%;
}

figure a{
  width: 100%;
  height: 100%;
}

.filter_item li.active{
  width: 25%;
  opacity: 1;
  transition: all 0.5s ease;
}

.filter_item li:hover, .filter_item li.active:hover{
  opacity: .5;
}

.filter_item li.delete{
  width: 0%;
  padding: 0;
  opacity: 0;
  transition: all 0.5s ease;
}

.filter_item img{
  width: 100%;
  height: 100%;
  display: block;
}

.description .wrapper {
  padding: 2.1% 0 .2%;
  border-bottom: rgb(44,44,44) solid .2px;
  display: flex;
  justify-content: space-between;
}

.description .wrapper div + div {
  padding: 0 0 0 34px;
}

.description h2 {
  padding: 0 0 18px;
  color: rgb(255, 255, 255);
  font-size: 12.5px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.text_widget {
  flex: 1;
}

.text_widget p {
  font-size: 10.5px;
  line-height: 1.5;
}

.text_widget p span{
  padding: 0 0 20px;
  color: rgba(255, 255, 255, .4);
}

.recent_post {
  flex: 1;
}

.recent_post ul {
  position: relative;
  top: -5px;
}

.recent_post li {
  color: rgba(255, 255, 255, .4);
  padding: 0 0 6px;
  width: 100%;
}

.recent_post li:hover {
  color: rgb(255, 255, 255);
}

.recent_post li + li {
  padding: 9px 0 6px;
  border-top: rgb(44,44,44) solid .2px;
}

.recent_post a {
  color: inherit;
  font-size: 10.5px;
  text-transform: capitalize;
}

.recent_post a span {
  color: inherit;
}

.popular_tags {
  flex: 1;
}

.popular_tags li{
  margin: 0 2.5px 6px 0;
  font-size: 10.5px;
}

.popular_tags li a {
  padding: 7px 8.5px;
  background-color: rgb(143,208,166);
  color: rgba(255, 255, 255, .7);
}

.popular_tags li a:hover {
  background-color: rgb(193,193,193);
}

.flickr_gallery {
  flex: 1;
}

.flickr_gallery ul {
  display: flex;
  flex-wrap: wrap;
}

.flickr_gallery ul li {
  width: 22.37%;
  margin: 3px;
}

.flickr_gallery ul li:hover {
  opacity: .5;
}

.flickr_gallery ul li img{
  width: 100%;
  height: 100%;
}


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer .wrapper {
  padding: 1.7% 0;
  display: flex;
  font-size: 10.5px;
  justify-content: space-between;
  text-transform: capitalize;
}

footer .wrapper div span, footer .wrapper div a {
  color: rgba(255, 255, 255, .4);
}

footer .wrapper div span a:hover {
  color: rgb(255, 255, 255);
}

footer ul {
  padding: 0 10px 0 0;
  position: relative;
  top: -6px;
}

footer ul li {
  margin: 0 13px;
  font-size: 8px;
}

.facebook {
  display: block;
  position: relative;
  text-indent: -9999px;
}

.facebook::before {
  padding: 5px 7px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  background-color: rgb(243,243,243);
  color: rgb(124,124,124);
  content: "\f39e";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
  vertical-align: middle;
}

.facebook:hover::before {
  background-color: rgb(143,208,166);
  color: rgb(255, 255, 255);
}

.twitter {
  display: block;
  position: relative;
  text-indent: -9999px;
}

.twitter::before {
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  background-color: rgb(243,243,243);
  color: rgb(124,124,124);
  content: "\f099";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
  vertical-align: middle;
}

.twitter:hover::before {
  background-color: rgb(143,208,166);
  color: rgb(255, 255, 255);
}

.google_plus {
  display: block;
  position: relative;
  text-indent: -9999px;
}

.google_plus::before {
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  background-color: rgb(243,243,243);
  color: rgb(124,124,124);
  content: "\f0d5";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
  vertical-align: middle;
}

.google_plus:hover::before {
  background-color: rgb(143,208,166);
  color: rgb(255, 255, 255);
}

.pinterest {
  display: block;
  position: relative;
  text-indent: -9999px;
}

.pinterest::before {
  padding: 5px 7px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  background-color: rgb(243,243,243);
  color: rgb(124,124,124);
  content: "\f231";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
  vertical-align: middle;
}

.pinterest:hover::before {
  background-color: rgb(143,208,166);
  color: rgb(255, 255, 255);
}

.linkedin {
  display: block;
  position: relative;
  text-indent: -9999px;
}

.linkedin::before {
  padding: 5px 7px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  background-color: rgb(243,243,243);
  color: rgb(124,124,124);
  content: "\f0e1";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
  vertical-align: middle;
}

.linkedin:hover::before {
  background-color: rgb(143,208,166);
  color: rgb(255, 255, 255);
}

.dribble {
  display: block;
  position: relative;
  text-indent: -9999px;
}

.dribble::before {
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  background-color: rgb(243,243,243);
  color: rgb(124,124,124);
  content: "\f17d";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
  vertical-align: middle;
}

.dribble:hover::before {
  background-color: rgb(143,208,166);
  color: rgb(255, 255, 255);
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 768px starts here*/

@media screen and (max-width: 868px){
  .filter_item li{
    width: 50%;
    height: 130px;
  }

  .filter_item li.active{
    width: 50%;
  }

  header ul li a {
    padding: 0 0 6px;
    margin: 0 0 0 5px;
    font-size: 5px;
  }

  .filter_menu a {
    font-size: 5px;
  }

  .modal_content {
    height: 30%;
  }

  .description .wrapper {
    padding: 0;
    flex-direction: column;
  }

  .description .wrapper div{
    margin: 4% 0;
  }

  .description .wrapper div + div {
    padding: 0;
  }

}

/*media query for 425px starts here*/

@media screen and (max-width: 425px) {

  header .wrapper{
    flex-wrap: wrap;
  }

  header h1 a {
    font-size: 10px;
  }

  .hamburger {
    display: block;
    position: relative;
    font-size: 10px;
    text-indent: -9999px;
  }

  .hamburger::before {
    position: absolute;
    left: -14px;
    color: white;
    content: "\f0c9";
    cursor: pointer;
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    font-weight: 900;
    text-indent: 0;
    vertical-align: middle;
  }

  nav {
    width: 100%;
    display: none;
    transition: all 0.5s ease;
  }

  header ul {
    top: 0;
  }

  header ul li {
    display: block;
    text-align: center;
  }
  
  header ul li a {
    padding: 0 0 2px;
    border-bottom: transparent 2px solid;
    margin: 0 0 0 2px;
    font-size: 3px;
  }

  header ul li a:hover {
    border-bottom: rgb(143,208,166) 2px solid;
  }

  .filter_menu a {
    font-size: 4px;
  }

  .filter_menu li {
    padding: 2px;
  }

  footer .wrapper {
    font-size: 4px;
  }

  footer ul {
    padding: 0 0 5px;
    top: 0px;
  }

  footer ul li {
    margin: 0 8px;
    font-size: 4px;
  }

  .google_plus::before {
    padding: 3px 4px;
  }

  .twitter::before {
    padding: 3px 4px;
  }

  .pinterest::before {
    padding: 3px 4px;
  }

  .dribble::before {
    padding: 3px 4px;
  }

  .linkedin::before {
    padding: 3px 4px;
  }

  .facebook::before {
    padding: 3px 4px;
  }

}